{block #content}
<div class="row">
	<div class="col-lg-8">
		<div class="card mb-4">
			<div class="card-header pb-0">
				<div class="row">
					<div class="col-lg-6">
						<h6>Podřízení zaměstnanci</h6>
					</div>
				</div>
			</div>
			<div class="card-body px-0 pt-0 pb-2">
				<div class="table-responsive p-0">
					{control superiorUserGrid}
				</div>
			</div>
		</div>
	</div>
</div>
