{block #content}
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
		<div class="card">
			<div class="card-header pb-0">
				<h6>Seznam alokací zaměstnance</h6>
			</div>
			<div class="card-body px-0 pt-0 pb-2">
				<div class="table-responsive p-0">
					{control userAllocationGrid}
				</div>
			</div>
		</div>
	</div>
</div>
