{block #content}
<div class="row">
	<div class="col-sm-4 mx-auto">
		<div class="card">
			<div class="card-header pb-0">
				<h6>Změna hesla</h6>
			</div>
			<div class="card-body pt-0">
				{control passwordChangeForm}
			</div>
		</div>
	</div>
</div>

