{block #content}
<div class="row">
	<div class="col-sm-6 col-md-6 col-lg-4 mx-auto">
		<div class="card">
			<div class="card-header pb-0">
				<h6>Upravit alokaci</h6>
			</div>
			<div class="card-body pt-0">
				{control allocationEditForm}
			</div>
		</div>
	</div>
</div>
