appName: "Název aplikace"

base:
	add: 'Přidat'
	edit: 'Upravit'
	deleteConfirm: 'Opravdu chcete odstranit záznam?'
	cancelButton: 'Zrušit'
	saveButton: 'Uložit'
	show: 'Zobrazit'

baseGrid:
	total: 'Celkem'
	totalActive: 'Celkem (aktivní)'
	totalValueHours: 'Σ: %value% h'
	totalValueFTE: 'Σ: %value% FTE'

menuSeparator:
	superior: 'Nadřízený'
	secretariat: 'Sekretariát'

role:
	secretariat: 'Sekretariát'
	department_manager: 'Vedoucí oddělení'
	superior: 'Nadřízený'
	user: 'Pracovník'

allocation:
	status:
		active: 'Aktivní'
		draft: 'Rozpracované'
		canceled: 'Zrušené'
		scheduled: 'Naplánované'
		ongoing: 'Probíhající'
		past: 'Proběhlé'

user:
	menu: 'Lidé'

	attributes:
		login: 'Login'
		firstname: 'Křestní jméno'
		lastname: 'Příjmení'
		email: 'Email'
		role: 'Role'

userAllocation:
	title: 'Moje alokace'
	title_multiple: 'Moje alokace'

	my_allocation_menu:  'Moje alokace'
	my_allocation_title: 'Moje alokace'
	my_projected_title: 'Mnou projektované projekty'

	attributes:
		project: 'Projekt'
		timespan_from: 'Od'
		timespan_to: 'Do'
		allocation: 'Alokace (h/týd.)'
		allocation_fte: 'Alokace (FTE)'
		description: 'Popis'
		state: 'Status'

	form:
		title_choose: 'Přidat alokaci - Vyberte pracovníka'
		title_add: 'Přidat alokaci'
		title_edit: 'Upravit alokaci'

	addForm:
		projectName: 'Název projektu'
		employeeName: 'Jméno spolupracovníka'
		employee: 'Pracovník'
		enterInFTE: Uvést v násobku FTE'
		enterEndTimespan: 'Uvést konec'
		allocationHoursLong: 'Alokace (hodin týdně)'
		allocationHours: 'Alokace (H/W)'
		allocationFTE: 'Alokace (FTE)'
		allocationFTELong: 'Alokace (násobek FTE)'
		allocationActiveHours: 'Akt. alokace (H/W)'
		allocationActiveFTE: 'Akt. alokace (FTE)'

project:
	menu: 'Projekty'
	title: 'Projekt'
	title_multiple: 'Projekty'

	addButton: 'Přidat projekt'
	addAllocationButton: 'Přidat alokaci'

	details: 'Podrobnosti'
	no_description: 'Projekt nemá stanovený žádný popis.'
	allocations_card: 'Seznam alokací'

	attributes:
		name: 'Název'
		project_manager: 'Vedoucí projektu'
		description: 'Popis'

	form:
		title_add: 'Přidat projekt'
		title_edit: 'Upravit projekt'
		placeholders:
			name: 'Název projektu'
			project_manager: 'Vyberte vedoucího'

superior:
	menu: 'Nadřízený'

	title: 'Podřízení pracovníci'
	employee: 'Pracovníci'

	grid_action:
		show: 'Zobrazit'

userSettings:
	changePassword:
		title: 'Změna hesla'
		inputs:
			oldPassword: 'Aktuální heslo'
			newPassword: 'Nové heslo'
			newPasswordAgain: 'Nové heslo (znovu)'

workspace:
	menu: 'Oddělení'
	title: 'Oddělení'
	title_multiple: 'Oddělení'

	attributes:
		name: 'Název'
		shortcut: 'Zkratka'

	form:
		title_add: 'Přidat oddělení'
		title_edit: 'Upravit oddělení'
		save_success: 'Oddělení bylo úspěšně uloženo.'
		save_error_null: 'Oddělení nebylo nalezeno. Uložení neproběhlo.'
		delete_success: 'Oddělení bylo úspěšně odstraněno.'
		delete_error_null: 'Oddělení nebylo nalezeno. Odstranění neproběhlo.'
		placeholders:
			name: 'Oddělení mechaniky'
			shortcut: 'Zkratka oddělení'
